<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Crear Cliente</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Crear Articulos</h2>
			<form method="POST" action="/logistica/articulos/crear" th:object="${articulo}" enctype="multipart/form-data">
				<div class="form-group">
					<label for="ean">Codigo de Barras</label>
					<input type="text" value=""  placeholder="Codigo de Barras..." th:field="${articulo.codigo}" name="id" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" value=""  placeholder="Nombre..." th:field="${articulo.descripcion}" name="descripcion" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Valor Unitario: Lista General</label>
					<input type="text" value=""  placeholder="Valor Unitario..." th:field="${articulo.valorUni}" name="valorUni" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Iva</label>
					<input type="text" value=""  placeholder="Iva..." th:field="${articulo.iva}" name="iva" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Unidad en Cajas</label>
					<input type="text" value="0"  placeholder="Unidad en Cajas..." th:field="${articulo.cajas}" name="cajas" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Unidad en Display</label>
					<input type="text" value="0"  placeholder="Unidad en Display..." th:field="${articulo.display}" name="display" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="marca">Marca</label>
    				<select class="form-control" id="marca" name="marca">
				        <option th:each="mar : ${marcas}"
				                th:value="${mar.getId()}"
				                th:text="${mar.getNombre()}"/>
				    </select>
				</div>
				<div class="form-group">
					<label for="grupo">Grupo</label>
    				<select class="form-control" id="grupo" name="grupo">
				        <option th:each="gru : ${grupos}"
				                th:value="${gru.getGrupo()}"
				                th:text="${gru.getDesc()}"/>
				    </select>
				</div>
				<input type="submit" value="Crear Articulo" class="btn btn-warning"/>
			</form>
		</div>
	</div>
</body>
</html>