<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Asignar Pedido</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Asignacion de pedido</h2>
			<form method="POST" action="/logistica/pedidos/asignar" enctype="multipart/form-data">
				<div class="form-group">
					<label for="proveedor">Pedido</label>
    				<select class="form-control" id="pedido" name="pedido">
				        <option th:each="ped : ${pedidos}"
				                th:value="${ped.getId()}"
				                th:text="${ped.getOrdenCompra() +' - '+ (ped.getCliente()).getNombre()}"/>
				    </select>
				</div>
				<div class="form-group">
					<label for="proveedor">Colaborador</label>
    				<select class="form-control" id="colaborador" name="colaborador">
				        <option th:each="col : ${colaboradores}"
				                th:value="${col.getId()}"
				                th:text="${col.getName()}"/>
				    </select>
				</div>
				<input type="submit" value="Asignar pedido" class="btn btn-warning"/>
			</form>
		</div>
	</div>
</body>
</html>